In [30]:
# data acquisition 
from acquire import get_telco_data
# data cleaning and prepping
from prepare import clean_telco, prep_telco
# data exploration
from explore import telco_churn_pie, chi_squared_multiple, telco_core_services, chi_squared_single, telco_internet_service_supports, telco_streaming_services
# data modeling 
from model import model_prep, telco_best_logit, telco_best_knn, telco_best_rf
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# pandas to save the file
import pandas as pd

Setup:
- Base Explore Train:
    - Churn turned into 1/0
    - Fiber optic bar chart
        - No change
- Base Explore Train with non-internet users removed:
    - Internet support services
        - Online Backup
        - Online Securtiy
        - Device Protection
        - Tech Support
    - Create column named 'Contract' that is a 1 if there is any contract involved

In [5]:
# getting telco data and train ds with wanted columns
train, validate, test = prep_telco(clean_telco(get_telco_data()))

In [7]:
# checking out data
train.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
3675,Male,0,No,No,5,Yes,No,No,No,No,Yes,No,No,Yes,49.20,216.90,1,Month-to-month,DSL,Electronic check
469,Male,0,Yes,No,52,Yes,Yes,No,Yes,No,Yes,No,No,No,61.35,3169.55,0,Month-to-month,DSL,Bank transfer (automatic)
699,Female,0,Yes,Yes,20,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Yes,105.85,2239.65,1,Month-to-month,Fiber optic,Bank transfer (automatic)
3508,Female,1,Yes,No,52,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,109.10,5647.95,0,Month-to-month,Fiber optic,Electronic check
2600,Male,0,Yes,No,52,Yes,No,Yes,No,No,No,Yes,No,No,84.10,4348.65,1,Month-to-month,Fiber optic,Electronic check

In [9]:
# setting up new train_story with unneccesary columns dropped
train.columns.to_list()

['gender',
 'senior_citizen',
 'partner',
 'dependents',
 'tenure',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'monthly_charges',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [11]:
# droppping unneccasrty columns
train_story = train.drop(columns=['tenure',
 'phone_service',
 'multiple_lines','streaming_tv',
 'streaming_movies',
 'paperless_billing', 'payment_type', 'total_charges'])

In [12]:
# checking new df
train_story.head()

,gender,senior_citizen,partner,dependents,online_security,online_backup,device_protection,tech_support,monthly_charges,churn,contract_type,internet_service_type
3675,Male,0,No,No,No,No,No,Yes,49.20,1,Month-to-month,DSL
469,Male,0,Yes,No,No,Yes,No,Yes,61.35,0,Month-to-month,DSL
699,Female,0,Yes,Yes,No,Yes,Yes,No,105.85,1,Month-to-month,Fiber optic
3508,Female,1,Yes,No,Yes,Yes,Yes,No,109.10,0,Month-to-month,Fiber optic
2600,Male,0,Yes,No,Yes,No,No,No,84.10,1,Month-to-month,Fiber optic

In [14]:
# creating contract column
train_story['contract'] = train_story.contract_type != 'Month-to-month'

In [29]:
# finding average costs of month-to-month
train_story[train_story.contract_type == 'Month-to-month'].monthly_charges.mean()

66.40938956197564

In [28]:
# finding average costs of contracts
train_story[train_story.contract == True].monthly_charges.mean()

61.78870339454647

In [25]:
train_story[train_story.contract_type == 'Month-to-month'].monthly_charges.mean()

Month-to-month    2146
Two year           962
One year           835
Name: contract_type, dtype: int64

In [31]:
train_story.to_csv('telco_story.csv')